GalilConfig/ConfigGalilBoard.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
 <!-- ######## TYPE DECLARATION ######## -->
 
 <!-- enumeration for supported channels -->
 <xs:simpleType name="channelID">
   <xs:restriction base="xs:string">
     <xs:enumeration value="A"/>   
     <xs:enumeration value="B"/>
     <xs:enumeration value="C"/>
     <xs:enumeration value="D"/>
     <xs:enumeration value="E"/>
     <xs:enumeration value="F"/>
	 <xs:enumeration value="G"/>
	 <xs:enumeration value="H"/>
   </xs:restriction>
 </xs:simpleType>
 
 <!-- robot configuration parameter which is driven by a specific channel -->
 <xs:simpleType name="robotAxisID">
   <xs:restriction base="xs:string">
     <xs:enumeration value="alpha1"/>   
     <xs:enumeration value="alpha2"/>
     <xs:enumeration value="alpha3"/>
     <xs:enumeration value="beta1"/>
     <xs:enumeration value="beta2"/>
     <xs:enumeration value="beta3"/> 
   </xs:restriction>
 </xs:simpleType>
 
  <!-- parameters for PID controller for each drive-->
  <xs:element name="PIDParameter">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:float" name="Kp" use="required"/>
          <xs:attribute type="xs:float" name="Ki" use="required"/>
          <xs:attribute type="xs:float" name="Kd" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <!-- maximum speed and acceleration of drives -->
  <xs:element name="DynamicParameter">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <!-- max. speed in ticks per seconds -->
          <xs:attribute type="xs:int" name="maxSpeed" use="required"/>
          <!-- max. acceleration in ticks per seconds -->
          <xs:attribute type="xs:int" name="maxAcc" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <!-- output channel of the galil board -->
  <xs:element name="Channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PIDParameter"/>
        <xs:element ref="DynamicParameter"/>
      </xs:sequence>
      <xs:attribute type="channelID" name="ChannelID" use="required"/>
      <xs:attribute type="robotAxisID" name="RobotAxisID" use="required"/>
      <xs:attribute type="xs:string" name="Unit" use="required"/>
      <xs:attribute type="xs:string" name="UnitToTick" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <!-- ######## XML Root element ######## -->
  
  <xs:element name="GalilConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Channel" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="configID" use="required"/>
      <xs:attribute type="xs:string" name="ipAddr" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>